body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-size: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and(min-width: 480px){
    width: 480px;
  }
  @media screen and(min-width: 768px){
    width: 768px;
    padding: 0 32px;
  }
  @media screen and(min-width: 1200px){
    width: 1200px;
    padding: 0 16px;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}


// .section {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   text-align: center;
//   @media screen and(min-width: 1200px) {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
// }

