:root {
  --primary-font-color: #FCFCFC;
  --secondary-font-color: #131313;;
  --accent-color: #F8D24E;
  --primary-background-color: #84A178;
  --hover-color: #0A8817;
  --ice-cream-card-color: #AEC6A5;
  --ice-coffee-card-color: #EFD478;
  --milkshakes-color: #D6936D;
  --nutrition-facts-ellipse: #9CBE8F;
  --input-background-color: rgba(248, 210, 78, 0.1);
  --working-hours-font: #ABABAB;
  --address-font-color: #D6936D;
  --footer-icon-color: #84A178;
  --footer-end-text-color: #7a7a7a;
  --footer-end-text-border-color: #e1e1e1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}