<div class="backdrop is-hidden">
  <div class="modal header-modal">
    <p class="header-modal__title">Buy now</p>
    <ul class="header-modal__list">
        <li class="header-modal__item">
            <div class="header-modal__item-wrap">
                <div class="header-modal__picture"></div>
            </div>
            <div class="header-modal__item-wrap">
                <div class="header-modal__picture"></div>
            </div>
            <div class="header-modal__item-wrap">
                <div class="header-modal__picture"></div>
            </div>
        </li>
        <li class="header-modal__item">
            <div class="header-modal__item-wrap">
                <div class="header-modal__picture"></div>
            </div>
            <div class="header-modal__item-wrap">
                <div class="header-modal__picture"></div>
            </div>
            <div class="header-modal__item-wrap">
                <div class="header-modal__picture"></div>
            </div>
        </li>
        <li class="header-modal__item">
            <div class="header-modal__item-wrap">
                <div class="header-modal__picture"></div>
            </div>
            <div class="header-modal__item-wrap">
                <div class="header-modal__picture"></div>
            </div>
            <div class="header-modal__item-wrap">
                <div class="header-modal__picture"></div>
            </div>
        </li>
    </ul>

    <button class="modal__close-button button" type="button" data-modal-close>
      <svg>
        <use></use>
      </svg>
    </button>
  </div>
</div>