<div class="backdrop is-hidden">
  <div class="modal franchise-modal">
    <p class="franchise-modal__title">
      Thank you for your interest in owning an Ice Cream shop
    </p>
    <p class="franchise-modal__text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="feedback">
      <label class="feedback__item">
        <input
          type="text"
          name="feedback-username"
          class="feedback__input"
          placeholder="Name"
        />
      </label>
      <label class="feedback__item">
        <input
          class="feedback__input"
          type="tel"
          name="feedback-tel"
          placeholder="Phone"
        />
      </label>
      <label class="feedback__item">
        <input
          class="feedback__input"
          type="email"
          name="feedback-email"
          placeholder="Email"
        />
      </label>
      <label class="feedback__item">
        <textarea
          class="feedback__textarea"
          name="comments"
          rows="10"
          placeholder="Comment"
        ></textarea>
      </label>
    </form>
    <button class="franchise-modal__submit submit" type="submit">Submit</button>
  </div>
</div>
