<div class="backdrop is-hidden">
  <div class="modal readmore-modal">
    <p class="readmore-modal__title">How it’s made?</p>

    <iframe
      src="https://www.youtube.com/embed/dQw4w9WgXcQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="readmore-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>

    <button class="modal__close-button button" type="button" data-modal-close>
    <svg width="16" height="16">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  </button>
  </div>
</div>
