<section class="advantages">
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <span class="advantages__span">
          <svg class="advantages__icon" width="36px" height="36px">
            <use href="./images/icons.svg#icon-cow"></use>
          </svg>
        </span>
        <div class="advantages__meta">
          <p class="advantages__subtitle">721</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <span class="advantages__span">
          <svg class="advantages__icon" width="36px" height="36px">
            <use href="./images/icons.svg#icon-weight"></use>
          </svg>
        </span>
        <div>
          <p class="advantages__subtitle">16kg</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <span class="advantages__span">
          <svg class="advantages__icon" width="36px" height="36px">
            <use href="./images/icons.svg#icon-ice_crema"></use>
          </svg>
        </span>
        <div>
          <p class="advantages__subtitle">84</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
