<section>
    <h2></h2>
    <ul>
        <li>
            <p></p>
            <p></p>
             <a
                  class="footer__address"
                  href="https://goo.gl/maps/uBSmtqLPdZ89o5kn9"
                  target="_blank"
                  rel="noopener noreferrer"
                  >м. Київ, пр-т Лесі Українки, 26</a
                >
              <ul class="header__contact">
                <li class="header__mailtel">
                    <a href="mailto:info@devstudio.com">
                    
                    info@devstudio.com</a
                    >
                </li>
                <li class="header__mailtel">
                    <a href="tel:+380961111111">
                    
                    +38 096 111 11 11</a
                    
                    >
                </li>
                </li>
        <li>
            <p></p>
            <p></p>
             <a
                  class="footer__address"
                  href="https://goo.gl/maps/uBSmtqLPdZ89o5kn9"
                  target="_blank"
                  rel="noopener noreferrer"
                  >м. Київ, пр-т Лесі Українки, 26</a
                >
              <ul class="header__contact">
                <li class="header__mailtel">
                    <a href="mailto:info@devstudio.com">
                    
                    info@devstudio.com</a
                    >
                </li>
                <li class="header__mailtel">
                    <a href="tel:+380961111111">
                    
                    +38 096 111 11 11</a
                    >
                </li>
        </li>
        <li>
            <p></p>
            <p></p>
             <a
                  class="footer__address"
                  href="https://goo.gl/maps/uBSmtqLPdZ89o5kn9"
                  target="_blank"
                  rel="noopener noreferrer"
                  >м. Київ, пр-т Лесі Українки, 26</a
                >
              <ul class="header__contact">
                <li class="header__mailtel">
                    <a href="mailto:info@devstudio.com">
                    
                    info@devstudio.com</a
                    >
                </li>
                <li class="header__mailtel">
                    <a href="tel:+380961111111">
                    
                    +38 096 111 11 11</a
                    >
                </li>
        </li>
    </ul>
    <ul>
        <li>
            <button  type="button">
                <span></span>
                <svg width="" height="">
                    <use href=""></use>
                </svg>
              </button>
        </li>
        <li>
            <button  type="button">
                <span></span>
                <svg width="" height="">
                    <use href=""></use>
                </svg>
              </button>
        </li>
    </ul>
</section>