

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    
    <title>Document</title>
  </head>
  <section>
    <div>
        <img src="" alt="">
    <p>I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
    <p>Emily, Los Angeles</p>
    </div>
    <div>
        <img src="" alt="">
    <p>I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.

    </p>
    <p>Sam, Los Angeles</p>
    </div>
    <div>
        <img src="" alt="">
    <p>Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!



    </p>
    <p>Diana, Chicago</p>
    </div>
    
  </section>