<!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    /> -->

<section class="gallery">
  <h2 class="visually-hidden">Product gallery</h2>
  <div class="gallery__thumb swiper mySwiper wrapper">
    <ul class="gallery__list swiper-wrapper">
      <li class="gallery__item swiper-slide">
        <picture>
          <source
            srcset="
              ./images/galleryfoto/ice-des.jpg         1x,
              ./images/galleryfoto/ice-desk-retina.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/galleryfoto/ice-tab.jpg        1x,
              ./images/galleryfoto/ice-tab-retina.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/galleryfoto/ice-mob.jpg        1x,
              ./images/galleryfoto/ice-mob-retina.jpg 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="gallery__img"
            src="./images/galleryfoto/ice-mob.jpg"
            alt="Photo of ice cream with fruit"
          />
        </picture>
      </li>
      <li class="gallery__item swiper-slide">
        <picture>
          <source
            srcset="
              ./images/galleryfoto/icetwo.jpg        1x,
              ./images/galleryfoto/icetwo-retina.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <img
            class="gallery__img"
            src="./images/galleryfoto/icetwo.jpg"
            alt="Photo of ice cream with sprinkles"
          />
        </picture>
      </li>
      <li class="gallery__item swiper-slide">
        <picture>
          <source
            srcset="
              ./images/galleryfoto/icethree.jpg        1x,
              ./images/galleryfoto/icethree-retina.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <img
            class="gallery__img"
            src="./images/galleryfoto/icethree.jpg"
            alt="Photo of ice cream with strawberries and vanilla flowers"
          />
        </picture>
      </li>
    </ul>
  </div>
  <!-- <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper('.mySwiper', {
        autoplay: true,
      });
    </script> -->
</section>
