<section class="products">
  <div class="products__container container">
    <p class="products__slogan">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--ice-cream">
        <div class="products__icon products__icon--ice-cream"></div>
        <div class="products__box">
          <h3 class="products__subtitle">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button type="button" class="products__btn">
          <span class="products__btn--line"></span>
        </button>
      </li>
      <li class="products__item products__item--ice-coffee">
        <div class="products__icon products__icon--ice-coffee"></div>
        <div class="products__box">
          <h3 class="products__subtitle">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button type="button" class="products__btn">
          <span class="products__btn--line"></span>
        </button>
      </li>
      <li class="products__item products__item--milkshakes">
        <div class="products__icon products__icon--milkshakes"></div>
        <div class="products__box">
          <h3 class="products__subtitle">milkshakes</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button type="button" class="products__btn">
          <span class="products__btn--line"></span>
        </button>
      </li>
    </ul>
  </div>
</section>
