// =====MODAL GLOBAL=====

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  overflow: hidden;
  overflow-y: auto;
  transition: visibility var(--transition-style),
    opacity var(--transition-style);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  background-color: var(--primary-font-color);
  width: 100%;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  padding: 28px;
  max-width: 280px;

  @media screen and (min-width: 768px) {
    max-width: 568px;
  }

  &__close-button {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill var(--transition-style);

    @media screen and (min-width: 768px) {
      top: 20px;
      right: 20px;
    }
    &:hover .modal__close-icon {
      fill: var(--hover-color);
    }
  }
  &__close-icon {
    fill: var(--second-font-color);
  }
  &__button {
    height: 32px;
    padding: 12px 32px;
    margin: 0;
    align-self: center;
    background-color: var(--accent-color);
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;
    transition: background-color var(--transition-style),
      color var(--transition-style);

    &:hover {
      background-color: var(--hover-color);
    }
    &:focus {
      background-color: var(--hover-color);
      color: var(--primary-font-color);
    }

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }

  &__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--secondary-font-color);
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    max-width: 220px;

    @media screen and (min-width: 768px) {
      max-width: 320px;
      font-size: 20px;
      line-height: calc(28 / 20);
    }
  }
}
// =====MODAL FORM=====

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 220px;

    @media screen and (min-width: 768px) {
      max-width: 370px;
    }
  }

  &__input {
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    height: 32px;
    padding: 8px 12px;
    outline: 0;
    transition: border-color var(--transition-style);

    &::placeholder {
      color: var(--second-font-color);
    }

    &:hover,
    &:focus {
      border-color: var(--hover-color);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__textarea {
    display: flex;
    flex-direction: column;
    height: 64px;
    margin-bottom: 24px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    padding: 8px 12px;
    outline: 0;
    resize: none;

    transition: border-color var(--transition-style);

    &::placeholder {
      color: var(--second-font-color);
    }

    &:hover,
    &:focus {
      border-color: var(--hover-color);
    }
  }
}

//=====MODAL HEADER BUY NOW=====

.header-modal {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 32px 54px;
  }

  &__title {
    margin-bottom: 84px;

    @media screen and (min-width: 768px) {
      margin-bottom: 100px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 84px;
    margin-bottom: 24px;
    width: 100%;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 32px;
      margin-bottom: 40px;
    }
  }

  &__item {
    height: 136px;
    max-width: 132px;
    width: 100%;
    border: 2px solid;
    position: relative;
    border-radius: 16px;
    padding-left: 1px;
    padding-bottom: 20px;
    padding-right: 1px;

    &--ice-cream {
      border-color: var(--ice-cream-card-color);
      transition: background-color var(--transition-style);

      &:hover,
      &:focus,
      &:active,
      &:target {
        background-color: var(--ice-cream-card-color);
      }
    }

    &--ice-coffee {
      border-color: var(--ice-coffee-card-color);
      transition: background-color var(--transition-style);

      &:hover,
      &:focus,
      &:active,
      &:target {
        background-color: var(--ice-coffee-card-color);
      }
    }

    &--milkshakes {
      border-color: var(--milkshakes-color);
      transition: background-color var(--transition-style);

      &:hover,
      &:focus,
      &:active,
      &:target {
        background-color: var(--milkshakes-color);
      }
    }
  }

  &__icon {
    position: absolute;
    width: 132px;
    height: 132px;
    top: -50%;
    left: -2px;
    border-radius: 50%;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);

    &--ice-cream {
      background-color: var(--ice-cream-card-color);
      &::before {
        content: '';
        position: absolute;
        display: flex;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: -8;
        left: 0;
        background-image: url('/src/images/modal/modal-icecream.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 102% 102%;
        border-radius: 50%;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url('/src/images/modal/modal-icecream-retina.jpg');
          }
        }

        // @media screen and (min-width: 768px) {
        //   background-image: url('/src/images/modal/modal-icecream-desk.png');

        //   @media (min-device-pixel-ratio: 2),
        //     (min-resolution: 192dpi),
        //     (min-resolution: 2dppx) {
        //     & {
        //       background-image: url('/src/images/modal/modal-icecream-desk-retina.png');
        //     }
        //   }
        // }
      }
    }

    &--ice-coffee {
      background-color: var(--ice-coffee-card-color);
      &::before {
        content: '';
        position: absolute;
        display: flex;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: -8;
        left: 0;
        background-image: url('/src/images/modal/modal-icecoffee.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 102% 102%;
        border-radius: 50%;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url('/src/images/modal/modal-icecoffee-retina.jpg');
          }
        }

        // @media screen and (min-width: 768px) {
        //   background-image: url('/src/images/modal/modal-icecoffee-desk.png');

        //   @media (min-device-pixel-ratio: 2),
        //     (min-resolution: 192dpi),
        //     (min-resolution: 2dppx) {
        //     & {
        //       background-image: url('/src/images/modal/modal-icecoffee-desk-retina.png');
        //     }
        //   }
        // }
      }
    }

    &--milkshakes {
      background-color: var(--milkshakes-color);
      &::before {
        content: '';
        position: absolute;
        display: flex;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: -8;
        left: 0;
        background-image: url('/src/images/modal/modal-milkshake.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 102% 102%;
        border-radius: 50%;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url('/src/images/modal/modal-milkshake-retina.jpg');
          }
        }

        // @media screen and (min-width: 768px) {
        //   background-image: url('/src/images/modal/modal-milkshake-desk.png');

        //   @media (min-device-pixel-ratio: 2),
        //     (min-resolution: 192dpi),
        //     (min-resolution: 2dppx) {
        //     & {
        //       background-image: url('/src/images/modal/modal-milkshake-desk-retina.png');
        //     }
        //   }
        // }
      }
    }
  }

  &__subtitle {
    color: var(--secondary-font-color);
    margin-top: 95px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

// =====MODAL PRODUCTS INGRIDIENTS=====

.ingridients-modal {
  display: flex;
  align-items: center;
  padding: 28px 20px 32px 20px;

  @media screen and (min-width: 768px) {
    padding: 32px 40px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__picture {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    background-color: var(--nutrition-facts-ellipse);
    position: relative;
    margin-bottom: 24px;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: -8;
      background-image: url('/src/images/modal/modal-choco.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 132px 132px;
      border-radius: 50%;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          background-image: url('/src/images/modal/modal-choco-retina.jpg');
        }
      }
    }
  }
  &__infolist {
    display: flex;
    flex-direction: row;
    gap: 9px;
    margin-bottom: 39px;

    @media screen and (min-width: 768px) {
      gap: 20px;
      margin-bottom: 48px;
    }
  }

  &__point {
    width: 53px;
    height: 72px;
    border: 2px solid var(--nutrition-facts-ellipse);
    border-radius: 40px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--secondary-font-color);
    padding: 0 8px;
    padding-bottom: 8px;

    @media screen and (min-width: 768px) {
      width: 65px;
      height: 90px;
      padding-bottom: 14px;
    }
  }

  &__text {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 38px;

    @media screen and (min-width: 768px) {
      max-width: 52px;
    }
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 43px;
    height: 43px;
    top: -1px;
    left: 3px;
    border-radius: 50%;
    background-color: var(--nutrition-facts-ellipse);
    font-weight: 500;
    font-size: 10px;
    line-height: 28px;
    color: var(--secondary-font-color);

    @media screen and (min-width: 768px) {
      width: 53px;
      height: 53px;
      left: 4px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #131313;
    margin-bottom: 24px;
  }

  &__list {
    max-width: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    gap: 11px;

    @media screen and (min-width: 768px) {
      max-width: 488px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__composition {
    font-size: 14px;
    line-height: 176%;
    color: #131313;
  }
}

// =====MODAL ABOUT READ MORE=====

.readmore-modal {
  display: flex;
  align-items: center;
  padding: 28px;

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
  }

  &__title {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &__text {
    line-height: 1.4;
    color: var(--secondary-font-color);
  }

  iframe {
    width: 220px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: var(--secondary-font-color);

    @media screen and (min-width: 768px) {
      width: 448px;
      height: 205px;
      margin-bottom: 32px;
    }
  }
}

// =====MODAL CONTACTS LOCATION=====

.location-modal {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
  }

  &__title {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &__link {
    color: var(--secondary-font-color);
  }

  iframe {
    border: 0;
    margin-bottom: 24px;
    width: 220px;
    height: 200px;

    @media screen and (min-width: 768px) {
      width: 448px;
      height: 260px;
      margin-bottom: 32px;
    }
  }
}

// =====MODAL CONTACTS FRANCHISE=====

.franchise-modal {
  @media screen and (min-width: 768px) {
    padding: 32px 60px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    line-height: 1.4;
    color: var(--secondary-font-color);
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}
