.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-hidden {
  opacity: 0;
      pointer-events: none;
      visibility: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  background-color: var(--primary-font-color);
  width: 100%;
  border: 2px solid var(--accent-color);
  border-radius: 10px;

  &__close-button {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 16px;
    height: 16px;

    @media screen and (min-width: 1200px) {
      top: 20px;
      right: 20px;
    }
  }
}

.header-modal {
  max-width: 280px;
  display: flex;
  align-items: center;
  padding: 30px;
  border-color: tomato;

  @media screen and (min-width: 1200px) {
    max-width: 568px;
    padding: 32px 60px;
  }

  &__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--secondary-font-color);
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    max-width: 220px;

    @media screen and (min-width: 1200px) {
      max-width: 320px;
      margin-bottom: 32px;
    }
  }
}
