.about {
  padding-top: 60px;
  padding-bottom: 0;
  text-align: center;

  &__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__title {
    font-family: 'Seymour One';
    font-size: 30px;
    line-height: calc(38 / 30);
    text-transform: uppercase;
    padding: 0 36px;
    margin-bottom: 32px;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

  }

  // &__img {
  //   position: relative;
  // }

  // &__img::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 300px;
  //   height: 300px;
  //   transform: translateX(-50%) translateY(-50%);
  //   border-radius: 50%;
  //   background-color: var(--accent-color); 
  // }

  &__descrition {
    padding: 0 30px;
    margin-bottom: 20px;
  }

  &__descrition-item:first-child {
    margin-bottom: 4px;
  }

  &__descrition-item:last-child {
    display: none;
  }

  &__text {
    font-size: 12px;
  }

  
  &__button {
      display: inline-block;
      font-weight: 700;
      line-height: calc(18 / 14);
      border-radius: 10px;
      padding: 12px 34px;
      color: var(--secondary-font-color);
      background-color: var(--accent-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    &__button:hover {
      background-color: var(--hover-color);
    }

    &__button:focus {
      color: var(--primary-font-color);
      background-color: var(--hover-color);
      outline: transparent;
    }
}
