.about {
  padding-top: 60px;
  padding-bottom: 0;
  text-align: center;

  &__pretitle {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-transform: uppercase;
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
      font-weight: 800;
      font-size: 22px;
      line-height: calc(27 / 22);
    }
    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: calc(37 / 30);
    }
  }

  &__title {
    font-family: 'Seymour One';
    font-size: 30px;
    line-height: calc(38 / 30);
    text-transform: uppercase;
    padding: 0 36px;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: calc(43 / 34);
      letter-spacing: 0.06em;
      margin-bottom: 79px;
      padding: 0;
      }
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: calc(45 / 36);
      margin-bottom: 82px;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 62px;
    @media screen and (min-width: 768px) {
      justify-content: space-between;
      gap: 32px;
      }
    @media screen and (min-width: 1200px) {
      justify-content: start;
      gap: 0;
    }

  }

  &__card {
    position: relative;
      width: 278px;
      height: 278px;
      border-radius: 50%;
    background-color: rgba(248, 210, 78, 0.7);
    @media screen and (min-width: 768px) {
      width: 334px;
      height: 330px;
      top: -10px;
      }
      @media screen and (min-width: 1200px) {
        width: 500px;
        height: 500px;
        margin-right: 100px;
        top: 0;
      }
    &::before {
    content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 21px;
      left: 0;
      border-radius: 50%;
      background-image: url('../images/about/cow-eating-grass-mob.jpg');
      background-size: 101% 101%;
      background-repeat: no-repeat;
      background-position: center;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url('../images/about/cow-eating-grass-mob-retina.jpg');
        }
      @media screen and (min-width: 768px) {
        background-image: url('../images/about/cow-eating-grass-tab.jpg');
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image: url('../images/about/cow-eating-grass-tab-retina.jpg');
          }
        }
        @media screen and (min-width: 1200px) {
        background-image: url('../images/about/cow-eating-grass-desk.jpg');
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image: url('../images/about/cow-eating-grass-desk-retina.jpg');
          }
        width: 490px;
        height: 490px;
        top: 39px;
        left: 4;
      }
    }
  }

  // &__descrition-wrap {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   @media screen and (min-width: 768px) {
  //     display: block;
  //     }
  // }

  &__descrition {
    max-width: 100%;
    padding: 0 30px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      max-width: 334px;
      padding: 0;
      margin-bottom: 48px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 463px;
    }
  }

  &__descrition-item:first-child {
    margin-bottom: 4px;
  }

  &__descrition-item:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
    }
  }

  &__descrition-item:last-child {
    display: none;
    @media screen and (min-width: 768px) {
      display: contents;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 162%;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 176%;
    }
  }

  
  &__button {
      display: flex;
      align-items: center;
      font-weight: 700;
      line-height: calc(18 / 14);
      border-radius: 10px;
      padding: 12px 34px;
      margin: 0 auto;
      color: var(--secondary-font-color);
      background-color: var(--accent-color);
      transition: background-color var(--transition-style),
        color var(--transition-style);
      @media screen and (min-width: 768px) {
        margin: 0;
          
        }
      // &::after {
      //   content: '';
      //   width: 12px;
      //   height: 12px;
      //   background-image: url('../images/svg-icons/tiny-arrow.svg');
      //   background-repeat: no-repeat;
      //   background-position: center;
      //   fill: currentColor;
      // }
    }

    &__button-icon {
      fill: currentColor;
    }
  
    &__button:hover {
      background-color: var(--hover-color);
    }

    &__button:focus {
      color: var(--primary-font-color);
      background-color: var(--hover-color);
      outline: transparent;
    }
}
