.advantages {
  padding-top: 42px;
  padding-bottom: 36px;
  @media screen and (min-width: 768px) {
    padding-top: 48px;
    padding-bottom: 40px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 89px;
      padding-bottom: 86px;
    }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 25px;
    @media screen and (min-width: 768px) {
      gap: 80px;
    }
    @media screen and (min-width: 1200px) {
      gap: 32px;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 230px;

    @media screen and (min-width: 768px) {
      max-width: 152px;
    }
    @media screen and (min-width: 1200px) {
          max-width: 368px;
    }
  }

  &__span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 16px;
    background-color: var(--accent-color);
    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
    }

  }

  &__meta {
    text-align: center;
  }

  &__subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-transform: capitalize;
    margin-bottom: 18px;
    @media screen and (min-width: 768px) {
      font-family: 'Montserrat';
      font-size: 48px;
      line-height: calc(59 / 48);
      margin-bottom: 16px;
      }
    @media screen and (min-width: 1200px) {
      font-size: 58px;
      line-height: calc(71 / 58);
      letter-spacing: 0.04em;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 174%;
      }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 176%;
      letter-spacing: 0.02em;
    }
  }
}