.advantages {
  margin-top: 42px;
  margin-bottom: 60px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 25px;
  }

  &__span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 16px;

    background-color: var(--accent-color);

  }

  // &__icon::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 110px;
  //   height: 110px;
  //   background-color: var(--accent-color);
  // }

  &__meta {
    text-align: center;
  }

  &__subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    margin: 0 25px;

  }
}