

.footer__inner {
	margin-bottom: 40px;
    @media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 32px;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 54px;
	}
}

.footer__texts {
	margin-bottom: 42px;
	width: 230px;

	@media screen and (min-width: 768px) {
		width: 352px;
		margin-bottom: 0;
	}

	@media screen and (min-width: 1200px) {
		width: 100%;
	}
}

.footer__text {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.22;
	text-transform: uppercase;
	color: var(--primary-font-color);
	margin-bottom: 16px;
	@media screen and (min-width: 768px) {
		font-weight: 700;
		font-size: 26px;
		line-height: 1.23;
		letter-spacing: 0.04em;
		margin-bottom: 9px;
		width: 400px;
	}

	@media screen and (min-width: 1200px) {
		font-weight: 400;
		font-size: 30px;
		line-height: 1.23;
		letter-spacing: 0.04em;
		margin-bottom: 14px;
		width: auto;
	}
}

.footer__title {
    font-style: normal;
	font-weight: 700;
	font-size: 34px;
	line-height: 1.2;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--primary-font-color);

	@media screen and (min-width: 768px) {
		font-size: 48px;
		line-height: 1.22;
		letter-spacing: 0.06em;
	}

	@media screen and (min-width: 1200px) {
		font-size: 58px;
		line-height: 1.22;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
}

.footer__list {
	display: flex;
	justify-content: flex-end;
	gap: 28px;
	margin-bottom: 38px;

    @media screen and (min-width: 768px) {
		gap: 30px;
        margin-bottom: 32px;
	}

	@media screen and (min-width: 1200px) {
		gap: 30px;
        margin-bottom: 40px;
	}
}


.footer__icon {
    fill: #84A178;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover .footer__icon {
    fill: var(--primary-font-color);
    width: 32;
    height: 32;
}

.footer__link:focus .footer__icon {
    fill: var(--primary-font-color);
    width: 38;
    height: 38;
}
.footer__tel--text {
	font-weight: 700;
	font-size: 12px;
	line-height: 186%;
	color: var(--secondary-font-color);

	@media screen and (min-width: 768px) {
		font-size: 14px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 16px;
	}
}


.footer__contacts {
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.footer__tel {
	display: flex;
	justify-content: flex-end;
	width: 338px;
	font-weight: 700;
	font-size: 12px;
	line-height: 186%;
	color: var(--primary-font-color);

	@media screen and (min-width: 768px) {
		font-size: 14px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 16px;
		letter-spacing: 0.02em;
	}
}
.footer__end {
	border-top: 1px solid var(--footer-end-text-border-color);
	display: flex;
	justify-content: center;
}
.footer__end--text {
	font-weight: 700;
	font-size: 14px;
	line-height: 152%;
	color: var(--footer-end-text-color);
	padding-top: 16px;
	padding-bottom: 62px;
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;
	width: 280px;

	@media screen and (min-width: 768px) {
		line-height: 186%;
		width: 100%;
        padding-top: 14px;
		padding-bottom: 13px;
		padding-left: 0;
		padding-right: 0;
	}

	@media screen and (min-width: 1200px) {
		font-size: 12px;
		line-height: 186%;
		width: 100%;
        padding-top: 12px;
		padding-bottom: 11px;
		padding-left: 0;
		padding-right: 0;
	}
}
