.header {    
    max-width: 100%;
    padding-top: 12px;
    margin-bottom: 60px;  
    @media screen and(min-width: 768px) {
        padding-top: 20px;
        margin-bottom: 40px;
    }
    @media screen and(min-width: 1200px) {
        padding-top: 8px;
        margin-bottom: 45px;        
    }
    
}

.header .header__container {  
    display: flex;
    align-items: center;    
    @media screen and(min-width: 768px) {
        // padding-left: 32px;
        // padding-right: 32px;
        }
    @media screen and(min-width: 1200px) {
        padding-left: 16px;
        padding-right: 16px;        
    }   
}

.logo {
    width: 41px;
    height: 38px;
    @media screen and(min-width: 768px) {
    width: 48px;
    height: 45px;
    }
    @media screen and(min-width: 1200px) {
    width: 60px;
    height: 65px;
    }
}
.nav {    
    display: none;
    @media screen and(min-width: 1200px) {
        display: block;  
        padding-top: 19px;  
    }
}

.nav__list {
    display: flex;
    align-items: center;
    margin-left: 269px;
    gap: 27px;
}

.nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.22;
    color: var(--primary-font-color);
    &:hover,
    &:focus,
    &:active {
        color: #F8D24E;
    }
}

.button-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    @media screen and(min-width: 768px) {
    padding-top: 3px;
    }
    @media screen and(min-width: 1200px) {
    padding-top: 16px;  
    }
}

.menu-btn {    
    background: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    @media screen and(min-width: 1200px) {
        display: none;;
    }
}

.menu-icon {
    fill: #fff;
}

.buy-now-btn {
    display: none;
    @media screen and(min-width: 768px) {
        display: flex;
        align-items: center;
        text-align: center;

        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        padding: 12px 34px;
        margin-left: 32px;

        background-color: #F8D24E;
        border-radius: 10px;
        transition: background-color var(--transition-style),
        color var(--transition-style);

        &:hover {
            background-color: var(--hover-color);
        }
        
        &:focus {
            color: var(--primary-font-color);
            background-color: var(--hover-color);
            outline: transparent;
        }
    }
}


.buy-arrow {
    margin-left: 6px;
    fill: currentColor;
}

// --------------HERO---------

.hero .hero__container {
    height: 392px;    
    position: relative;
    @media screen and(min-width: 768px) {        
        height: 311px;
        // padding-left: 32px;
        // padding-right: 32px;
    }
    @media screen and(min-width: 1200px) {
        height: 546px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.hero__top-wrapper {
    display: flex;    
    
    justify-content: space-between;
    @media screen and(min-width: 768px) {
        // align-items: baseline;
    }
}

.hero__title {
    width: 247px;
    height: 97px;
    margin-bottom: 32px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;      
    @media screen and(min-width: 768px) {
        width: 181px;
        height: 74px;
        font-size: 18px;
        line-height: 1.277;
        margin-bottom: 20px;
    }
    @media screen and(min-width: 1200px) {
        width: 367px;
        height: 144px;
        font-size: 38px;
        line-height: 1.26;
        margin-bottom: 28px;
    }
}

.hero__title--accent {
    font-size: 33px;
    line-height: 0.94;
    @media screen and(min-width: 768px) {
        font-size: 24px;
        line-height: 1.2;
    }
    @media screen and(min-width: 1200px) {
        font-size: 38px;
        line-height: 1.26;
    }
}

.hero__buttons {
    display: flex;  
    gap: 8px;     
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0 auto;    
    @media screen and(min-width: 1200px) {
        gap: 12px;
    }
}

// .hero__buttons-item {
//     display: flex;
//     align-items: center;
//     justify-content: center;           
// }

.hero__btn-prod {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    min-width: 62px;
    height: 24px;   
    font-weight: 600;
    font-size: 8px;    
    line-height: 1.25;    
    text-align: center;
    color: black;
    border: 2px solid #F8D24E;
    border-radius: 8px;
    transition: border-color var(--transition-style),
    color var(--transition-style);
    @media screen and(min-width: 1200px) {
        font-size: 14px;
        line-height: 18px;
        min-width: 134px;
        height: 42px;
    }
    &:hover {
        border-color: #0A8817;
    }
    &:focus {
        border-color: #0A8817;
        color: #FCFCFC;
        outline: transparent;
    }
    &:disabled {
        background-color: #ABABAB;        
    }
    
}

.hero__btn-how {    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;    
    height: 24px;    
    padding: 7px 10px;    
    font-weight: 600;
    font-size: 8px;
    line-height: 1.25;
    text-align: center;    
    color: var(--accent-color);
    transition: color var(--transition-style);
    @media screen and(min-width: 1200px) {
    font-size: 14px;
    line-height: 1.214; 
    padding: 12px 22px;
    height: 42px;
    }
    &:hover {
        color: #0A8817;
    }
    &:focus {
        color: #FCFCFC;
        outline: transparent;
    }
    &:disabled {
        color: #ABABAB;
    }
}

.stores {
    display: none;
    @media screen and(min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-right: 0;;
    }
    @media screen and(min-width: 1200px) {
        padding-top: 9px;
    }    
}

.stores__item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
}
.stores__item:not(:last-child) {
    margin-bottom: 20px;
    @media screen and(min-width: 1200px) {
        margin-bottom: 16px;
    }
}

.stores__number {    
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21; 
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 4px;
    @media screen and(min-width: 1200px) {
        font-size: 46px;
        line-height: 1.217;
    }
}

.stores__text {    
    font-size: 8px;
    line-height: 1.25;
    color: #FCFCFC;
    @media screen and(min-width: 1200px) {
        font-size: 14px;
        line-height: 1.214;
    }
}

.hero__bottom-discription {
    display: none;
    @media screen and(min-width: 768px) {
        display: block;
        width: 151px;
        height: 105px;
        font-size: 12px;
        line-height: 1.4;
        margin-top: 56px;
        margin-left: 185px;
    }
    @media screen and(min-width: 1200px) {
        width: 200px;
        height: 112px;
        margin-top: 109px;
        margin-left: 239px;  
        font-size: 14px;
        line-height: 1.4;
    }
}



.hero__ice-cream {    
    position: absolute;    
    bottom: -62;
    right: 15;  
    z-index: 2;  
    pointer-events: none;  
    @media screen and(min-width: 768px) {
        bottom: -64;
        right: 7;
    }
    @media screen and(min-width: 1200px) {
        bottom: -108;
        right: 0;
    }
}

.hero__dots {
    position: absolute;
    bottom: -8px;
    right: 0px; 
    z-index: 1;
    pointer-events: none;
    @media screen and(min-width: 768px) {
    bottom: -7px;
    right: -17px;
    }
    @media screen and(min-width: 1200px) {
    bottom: -8px;
    right: 0px;
    }
}

.hero__creamy {
    display: none;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    @media screen and(min-width: 768px) {
        display: block;
        left: 16px;
        bottom: 6px;

    }
    @media screen and(min-width: 1200px) { 
        display: block;       
        bottom: 57px;
        left: 17px;
    }
    
}

.products__button {
    display: flex;
    align-items: center;
    // width: 50px;
    // height: 40px;    
    border-radius: 3px;
    margin-top: 20px;
    @media screen and(min-width: 1200px) {
        margin-top: 32px;
    }

    &--line {
        display: block;
        width: 40px;
        height: 2px;
        background-color: #FCFCFC;
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            left: 33px;
            width: 10px;
            height: 2px;
            background-color: #FCFCFC;
            position: absolute;
            border-radius: 50px;
            transition-property: left, height;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        &::before {
            top: 3px;
            transform: rotate(-45deg);
        }

        &::after {
            bottom: 3px;
            transform: rotate(45deg);
        }

        .products__button:hover & {
            width: 50px;

            &::before,
            &::after {
                left: 43px;
            }
        }

        .products__button:focus & {
            width: 50px;
            height: 3px;

            &::before,
            &::after {
                height: 3px;
                left: 43px;
            }
        }

        transition-property: width,
        height;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}